.img-carousel{
	background-image: url("../images/mock-header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
	height: 400px;
}

section{
	height: 300px;
}

.h2{
	text-decoration: underline;
}