.video-container {
	position: relative;
	height: 400px;
	padding-bottom: 400px !important;
}

video {
	position: absolute;
	max-width: 100%;
	z-index: 1;
	height: auto;
}


 .marquee {
	 position: relative;
	 z-index: 2;
	 background: rgba(#000,0.8);
	 min-height: 400px;
	 text-align: center;

  	img {
  	 position: absolute;
  	 top: 25%;
  	 transform: translate(-50%);
  }
}