.video-container{
	position: relative;
	height: 400px;
	padding-bottom: 400px !important;
}

video{
	position: absolute;
	width: 100%;
	z-index: 1;
	// height: 400px;
}


  .marquee{
  position: relative;
  z-index: 2;
  background: rgba(#000,0.4);
  min-height: 400px;
}