/**
 * To use this font use these fonts:
 * @extend <classname>
 *
 * .some-example-class {
 *    @extend .font1-ebold;
 * }
 *
 */
/* line 17, ../../app/assets/scss/_fonts.scss */
.font1, .font1-light, .font1-sbold, .font1-bold, .font1-ebold, body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

/* line 24, ../../app/assets/scss/_fonts.scss */
.font1-light {
  font-weight: 300;
}

/* line 29, ../../app/assets/scss/_fonts.scss */
.font1-sbold {
  font-weight: 600;
}

/* line 34, ../../app/assets/scss/_fonts.scss */
.font1-bold {
  font-weight: 700;
}

/* line 39, ../../app/assets/scss/_fonts.scss */
.font1-ebold {
  font-weight: 800;
}

/* line 49, ../../app/assets/scss/_fonts.scss */
.font2, .font2-light, .font2-bold {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

/* line 56, ../../app/assets/scss/_fonts.scss */
.font2-light {
  font-weight: 300;
}

/* line 61, ../../app/assets/scss/_fonts.scss */
.font2-bold {
  font-weight: 700;
}

/* line 1, ../../app/assets/scss/_base.scss */
.row {
  margin-bottom: 0 !important;
}

/* line 5, ../../app/assets/scss/_base.scss */
.row.page-content {
  height: 300px;
}

/* line 9, ../../app/assets/scss/_base.scss */
.row .col {
  padding: 0 0 !important;
}

/* line 13, ../../app/assets/scss/_base.scss */
.col {
  height: 100%;
}

/* line 17, ../../app/assets/scss/_base.scss */
footer.page-footer {
  margin-top: 0 !important;
}

/* line 21, ../../app/assets/scss/_base.scss */
footer.page-footer ul li {
  margin-left: 20px;
  display: inline;
}

/* line 26, ../../app/assets/scss/_base.scss */
footer.page-footer .footer-copyright {
  background-color: transparent;
}

/* line 30, ../../app/assets/scss/_base.scss */
.page-content ul li {
  display: inline;
}

/* line 34, ../../app/assets/scss/_base.scss */
section {
  width: 100%;
}

/* line 38, ../../app/assets/scss/_base.scss */
h2 {
  margin: 0px 0px 0px !important;
  padding: 1rem 0px 1rem;
}

/* line 1, ../../app/assets/scss/_main-view.scss */
.photography {
  background-image: url("../images/IMG_3101.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 7, ../../app/assets/scss/_main-view.scss */
.web {
  background-image: url("../images/web-bg.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 13, ../../app/assets/scss/_main-view.scss */
.video {
  background-image: url("../images/video-bg.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 19, ../../app/assets/scss/_main-view.scss */
.photography h2,
.web h2,
.video h2 {
  color: #fff;
}

/* line 1, ../../app/assets/scss/_view-animations.scss */
.animate-view-container {
  position: relative;
  min-height: 900px;
  overflow: hidden;
  background-color: white;
}

/* line 8, ../../app/assets/scss/_view-animations.scss */
.view-section {
  padding: 50px;
}
/* line 11, ../../app/assets/scss/_view-animations.scss */
.view-section .btn {
  margin-top: 5px;
  margin-left: 20px;
}
/* line 15, ../../app/assets/scss/_view-animations.scss */
.view-section p {
  padding: 20px;
}

/* line 60, ../../app/assets/scss/_view-animations.scss */
.from-left,
.from-right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 900px;
}

/* line 71, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-enter,
.from-right.ng-enter,
.from-left.ng-leave,
.from-right.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 80, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-enter {
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  z-index: 100;
}

/* line 84, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-enter-active {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 87, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-leave {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 99;
}

/* line 91, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-leave-active {
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

/* line 95, ../../app/assets/scss/_view-animations.scss */
.from-right.ng-enter {
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  z-index: 100;
}

/* line 99, ../../app/assets/scss/_view-animations.scss */
.from-right.ng-enter-active {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 102, ../../app/assets/scss/_view-animations.scss */
.from-right.ng-leave {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 99;
}

/* line 106, ../../app/assets/scss/_view-animations.scss */
.from-right.ng-leave-active {
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

/* line 1, ../../app/assets/scss/_video.scss */
.video-container {
  position: relative;
  height: 400px;
  padding-bottom: 400px !important;
}

/* line 7, ../../app/assets/scss/_video.scss */
video {
  position: absolute;
  max-width: 100%;
  z-index: 1;
  height: auto;
}

/* line 15, ../../app/assets/scss/_video.scss */
.marquee {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  min-height: 400px;
  text-align: center;
}
/* line 22, ../../app/assets/scss/_video.scss */
.marquee img {
  position: absolute;
  top: 25%;
  transform: translate(-50%);
}

/* line 1, ../../app/assets/scss/_mock.scss */
html, body {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

/* line 10, ../../app/assets/scss/_mock.scss */
h2 {
  text-align: center;
}

/* line 15, ../../app/assets/scss/_mock.scss */
section p {
  text-align: center;
  padding: 10px;
}

/* line 20, ../../app/assets/scss/_mock.scss */
section ul {
  text-align: center;
}

/* line 24, ../../app/assets/scss/_mock.scss */
a {
  color: black;
}

/* line 30, ../../app/assets/scss/_mock.scss */
.contact .btn {
  margin-bottom: 20px;
}
/* line 33, ../../app/assets/scss/_mock.scss */
.contact li {
  padding-left: 20px;
  padding-right: 20px;
  display: inline;
}

/* line 1, ../../app/assets/scss/_resources.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 7, ../../app/assets/scss/_resources.scss */
.resources nav {
  background: #333333;
}
/* line 10, ../../app/assets/scss/_resources.scss */
.resources h1 {
  border-bottom: solid 3px #333333;
}
/* line 13, ../../app/assets/scss/_resources.scss */
.resources .container {
  margin-top: 60px;
}
/* line 16, ../../app/assets/scss/_resources.scss */
.resources .site {
  border-bottom: solid 1px #333333;
  border-bottom-style: dashed;
  padding-top: 20px;
  padding-bottom: 20px;
}
