<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Mockup</title>
   {{!-- <link rel="stylesheet" href="css/vendor/bootstrap.min.css"> --}}
   <link rel="stylesheet" href="css/materialize.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="css/main.css">
</head>
<style type="text/css">

</style>
<body ng-controller="MainController">



<div class="video-container">
  <video poster="images/poster.jpg" autoplay="true" loop>
   <source src="video/Background_Video.mp4" type="video/mp4">
   <source src="video/Background_Video.webmhd.webm" type="video/webm">
  </video>

  <div class="marquee">
    <img src="images/SmallLogo.png">
  </div>
</div>

{{!-- <div class="container-fluid">
<div class="row">
   <div class="row img-carousel">
   
  </div>
</div>
</div> --}}


{{!-- view container --}}
<div class="animate-view-container">
  <ng-view class="animate-view" view-animation></ng-view>
</div>



  <footer class="page-footer valign-wrapper">
    <div class="row">
      <h2>Contact</h2>
      <div class="valign center-align">
        <button data-target="modal1" class="waves-effect waves-light btn modal-trigger">Send Us A Message</button>
        <ul>
          <li><a href=""><i class="fa fa-5x fa-facebook-official"></i></a></li>
          <li><a href=""><i class="fa fa-5x fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-5x fa-youtube-square"></i></a></li>
          <li><a href=""><i class="fa fa-5x fa-envelope-o"></i></a></li>
       </ul>
       <div class="footer-copyright">
            © 2015 Imaginary Digital
      </div>
    </div>
  </footer>


  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</button>
    </div>
  </div>
 
    
  


  



    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>