<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Mockup</title>
   <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="MainController">
<div class="video-container">
  <video poster="images/poster.jpg" autoplay="true" loop>
   <source src="video/Background_Video.mp4" type="video/mp4">
   <source src="video/Background_Video.webmhd.webm" type="video/webm">
  </video>
</div>

{{!-- <div class="container-fluid">
<div class="row">
   <div class="row img-carousel">
   
  </div>
</div>
</div> --}}


{{!-- view container --}}
<div class="animate-view-container">
  <ng-view class="animate-view" view-animation></ng-view>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 contact-col" style="background-color: gray">
    <section class="contact">
      <h2>Contact</h2>
      <div class="content">
        <a href="" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Send Us A Message</a>
        <ul class="list-inline">
        <li><a href=""><i class="fa fa-5x fa-facebook-official"></i></a></li>
        <li><a href=""><i class="fa fa-5x fa-instagram"></i></a></li>
        <li><a href=""><i class="fa fa-5x fa-youtube-square"></i></a></li>
        <li><a href=""><i class="fa fa-5x fa-envelope-o"></i></a></li>
      </ul>
      </div>
    </section>
    </div>
  </div>
</div>
  


  {{!-- modal --}}
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Contact Form</h4>
          </div>
          <div class="modal-body">
            <p>Fill out the form bitch boy&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  {{!-- /.modal --}}



    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>