<div class="row center-align">
  <form name="contactForm" id="contactForm" class="contactForm col s8 offset-s2" ng-submit="submitForm(contactForm)" novalidate>
    <div class="row">
      <div class="input-field col s12 m5">
        <input id="first_name" name="first_name" ng-model="first_name" ng-pattern="/^[a-zA-Z']*$/" ng-minlength="2" ng-maxlength="30" type="text" required>
        <div ng-messages="contactForm.first_name.$error" ng-if="contactForm.first_name.$touched">
          <p ng-message="minlength">Your first name is too short.</p>
          <p ng-message="pattern">Sorry, your first name can only contain letters.</p>
          <p ng-message="maxlength">Your first name is too long.</p>
          <p ng-message="required">Your first name is required.</p>
        </div>
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s12 s5 m5 offset-m1">
        <input class="input-error" id="last_name" name="last_name" ng-model="last_name" ng-pattern="/^[a-zA-Z']*$/" ng-minlength="2" ng-maxlength="30" type="text" required>
        <div ng-messages="contactForm.last_name.$error" ng-if="contactForm.last_name.$touched">
          <p ng-message="minlength">Your last name is too short.</p>
          <p ng-message="pattern">Sorry, your last name can only contain letters.</p>
          <p ng-message="maxlength">Your last name is too long.</p>
          <p ng-message="required">Your last name is required.</p>
        </div>
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m5">
        <input id="email" type="email" name="email" ng-model="email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required>
        <div ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
          <p ng-message="pattern">Please enter a valid email address.</p>
          <p ng-message="required">Your email address is required.</p>
        </div>
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12 m5 offset-m1">
        <input id="tel" type="tel" name="tel" ng-model="tel" ng-pattern="/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/" required>
         <div ng-messages="contactForm.tel.$error" ng-if="contactForm.tel.$touched">
          <p ng-message="pattern">Please enter a valid phone number.</p>
          <p ng-message="required">Your phone number is required.</p>
        </div>
        <label for="tel">Phone #</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea type="text" id="message" name="message" ng-model="message" class="materialize-textarea" required></textarea>
        <div ng-messages="contactForm.message.$error" ng-if="contactForm.message.$touched">
          <p ng-message="required">Let us know how we can help you.</p>
        </div>
        <label for="textarea1">What's Up?</label>
      </div>
    </div>
    <div class="row left-align">
      <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="contactForm.$invalid">Send
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>