<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5" style="background-color: #FFF">
      <section class="about">
        
        <p>{[{ hello }]}</p>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacus nisi. Etiam scelerisque, sem consequat facilisis congue, orci tellus dapibus magna, sit amet bibendum ipsum nisl a massa. Donec ultrices ornare pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed vehicula eros. Cras at suscipit erat, at laoreet urna. Mauris vitae dapibus turpis. Aenean eu lectus aliquam, suscipit turpis quis, volutpat arcu.</p>
      </section>
    </div>
    <div class="col-sm-7" style="background-color: lightgray">
      <section class="photography">
        <h2>Phototgraphy</h2>
        <div class="content">
          <ul class="list-inline">
            <li><img src="http://placehold.it/200x150"/></li>
            <li><img src="http://placehold.it/200x150"/></li>
          </ul>
          <a href="#/photography" class="btn btn-primary" ng-click="go()">View More</a>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7" style="background-color: gray">
      <section class="video">
        <h2>Videos</h2>
        <div class="content">
          <ul class="list-inline">
            <li><img src="http://placehold.it/200x150"></li>
            <li><img src="http://placehold.it/200x150"></li>
          </ul>
          <a href="#/videos" class="btn btn-primary" ng-click="go()">View More</a>
        </div>
      </section>
    </div>
    <div class="col-sm-5" style="background-color: #FFF">
      <section class="design">
        <h2>Design</h2>
        <div class="content">
          <ul class="list-inline">
            <li><img src="http://placehold.it/100x100"></li>
            <li><img src="http://placehold.it/100x100"></li>
          </ul>

          <a href="#/design" class="btn btn-primary" ng-click="go()">View More</a>
        </div>
      </section>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-5" style="background-color: #FFF">
      <section class="audio">
        <h2>Audio Recording</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacus nisi. Etiam scelerisque, sem consequat facilisis congue, orci tellus dapibus magna, sit amet bibendum ipsum nisl a massa. Donec ultrices ornare pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed vehicula eros. Cras at suscipit erat, at laoreet urna. Mauris vitae dapibus turpis. Aenean eu lectus aliquam, suscipit turpis quis, volutpat arcu.</p>
      </section>
    </div>
    <div class="col-sm-7" style="background-color: lightgray">
      <section class="web">
        <h2>Web Design</h2>
        <div class="row">
          <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacus nisi. Etiam scelerisque, sem consequat facilisis congue, orci tellus dapibus magna, sit amet bibendum ipsum nisl a massa. Donec ultrices ornare pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed vehicula eros.</p>
          </div>
          <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacus nisi. Etiam scelerisque, sem consequat facilisis congue, orci tellus dapibus magna, sit amet bibendum ipsum nisl a massa. Donec ultrices ornare pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed vehicula eros.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  </div>
