
  <div class="row page-content">
    <div class="col s5 hoverable valign-wrapper" style="background-color: #FFF">
      <section class="about">
        <div class="valign">
          <h2>About</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacus nisi. Etiam scelerisque, sem consequat facilisis congue, orci tellus dapibus magna, sit amet bibendum ipsum nisl a massa. Donec ultrices ornare pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed vehicula eros. Cras at suscipit erat, at laoreet urna. Mauris vitae dapibus turpis. Aenean eu lectus aliquam, suscipit turpis quis, volutpat arcu.</p>
        </div>
      </section>
    </div>
    <div class="col s7 hoverable valign-wrapper photography" style="">
      <section class="center-align">
           <h2>Photography</h2>
           <div class="center-align"><a href="#/photography" class="btn btn-primary" ng-click="go()">View More</a></div> 
      </section>
    </div>
  </div>

  <div class="row page-content">
    <div class="col s7 hoverable valign-wrapper video">
        <h2>Videos</h2>
        <div class="center-align"><a href="#/photography" class="btn btn-primary" ng-click="go()">View More</a></div>
    </div>
    <div class="col s5 hoverable" style="background-color: #FFF">
      <section class="design">
        <h2>Design</h2>
          <ul class="list-inline">
            <li><img src="http://placehold.it/100x100"></li>
            <li><img src="http://placehold.it/100x100"></li>
          </ul>

          <div class="center-align"><a href="#/design" class="btn btn-primary" ng-click="go()">View More</a></div>
      </section>
    </div>
  </div>


  <div class="row page-content">
    <div class="col s5 hoverable" style="background-color: #FFF">
      <section class="audio">
        <h2>Audio Recording</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacus nisi. Etiam scelerisque, sem consequat facilisis congue, orci tellus dapibus magna, sit amet bibendum ipsum nisl a massa. Donec ultrices ornare pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed vehicula eros. Cras at suscipit erat, at laoreet urna. Mauris vitae dapibus turpis. Aenean eu lectus aliquam, suscipit turpis quis, volutpat arcu.</p>
      </section>
    </div>
    <div class="col s7 hoverable valign-wrapper web">
      <section>
        <h2>Web Design</h2>
        <div class="center-align"><a href="#/design" class="btn btn-primary" ng-click="go()">Learn More</a></div>
      </section>
    </div>
  </div>
