/**
 * To use this font use these fonts:
 * @extend <classname>
 *
 * .some-example-class {
 *    @extend .font1-ebold;
 * }
 *
 */
/* line 17, ../../app/assets/scss/_fonts.scss */
.font1, .font1-light, .font1-sbold, .font1-bold, .font1-ebold, body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

/* line 24, ../../app/assets/scss/_fonts.scss */
.font1-light {
  font-weight: 300;
}

/* line 29, ../../app/assets/scss/_fonts.scss */
.font1-sbold {
  font-weight: 600;
}

/* line 34, ../../app/assets/scss/_fonts.scss */
.font1-bold {
  font-weight: 700;
}

/* line 39, ../../app/assets/scss/_fonts.scss */
.font1-ebold {
  font-weight: 800;
}

/* line 49, ../../app/assets/scss/_fonts.scss */
.font2, .font2-light, .font2-bold {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

/* line 56, ../../app/assets/scss/_fonts.scss */
.font2-light {
  font-weight: 300;
}

/* line 61, ../../app/assets/scss/_fonts.scss */
.font2-bold {
  font-weight: 700;
}

/* line 1, ../../app/assets/scss/_view-animations.scss */
.animate-view-container {
  position: relative;
  min-height: 900px;
  overflow: hidden;
  background-color: white;
}

/* line 8, ../../app/assets/scss/_view-animations.scss */
.view-section {
  padding: 50px;
}
/* line 11, ../../app/assets/scss/_view-animations.scss */
.view-section .btn {
  margin-top: 5px;
  margin-left: 20px;
}
/* line 15, ../../app/assets/scss/_view-animations.scss */
.view-section p {
  padding: 20px;
}

/* line 60, ../../app/assets/scss/_view-animations.scss */
.from-left,
.from-right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 900px;
}

/* line 71, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-enter,
.from-right.ng-enter,
.from-left.ng-leave,
.from-right.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 80, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-enter {
  left: -100%;
  z-index: 100;
}

/* line 84, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-enter-active {
  left: 0;
}

/* line 87, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-leave {
  left: 0;
  z-index: 99;
}

/* line 91, ../../app/assets/scss/_view-animations.scss */
.from-left.ng-leave-active {
  left: -100%;
}

/* line 95, ../../app/assets/scss/_view-animations.scss */
.from-right.ng-enter {
  left: 100%;
  z-index: 100;
}

/* line 99, ../../app/assets/scss/_view-animations.scss */
.from-right.ng-enter-active {
  left: 0;
}

/* line 102, ../../app/assets/scss/_view-animations.scss */
.from-right.ng-leave {
  left: 0;
  z-index: 99;
}

/* line 106, ../../app/assets/scss/_view-animations.scss */
.from-right.ng-leave-active {
  left: 100%;
}

/* line 1, ../../app/assets/scss/_video.scss */
.video-container {
  position: relative;
  height: 400px;
}

/* line 6, ../../app/assets/scss/_video.scss */
video {
  position: absolute;
  width: 100%;
}

/* line 1, ../../app/assets/scss/_mock.scss */
html, body {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

/* line 8, ../../app/assets/scss/_mock.scss */
.img-carousel {
  background-image: url("http://placehold.it/1000x1000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 400px;
}

/* line 19, ../../app/assets/scss/_mock.scss */
section {
  height: 300px;
}

/* line 23, ../../app/assets/scss/_mock.scss */
h2 {
  text-decoration: underline;
  text-align: center;
}

/* line 28, ../../app/assets/scss/_mock.scss */
section p {
  text-align: center;
  padding: 10px;
}

/* line 33, ../../app/assets/scss/_mock.scss */
section ul {
  text-align: center;
}

/* line 38, ../../app/assets/scss/_mock.scss */
section .content {
  text-align: center;
  margin-top: 30px;
}
/* line 43, ../../app/assets/scss/_mock.scss */
section .btn {
  margin-top: 20px;
}

/* line 49, ../../app/assets/scss/_mock.scss */
.photography img {
  border: 1px solid black;
}

/* line 54, ../../app/assets/scss/_mock.scss */
a {
  color: black;
}

/* line 60, ../../app/assets/scss/_mock.scss */
.contact .btn {
  margin-bottom: 20px;
}
/* line 63, ../../app/assets/scss/_mock.scss */
.contact li {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 1, ../../app/assets/scss/_resources.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 7, ../../app/assets/scss/_resources.scss */
.resources nav {
  background: #333333;
}
/* line 10, ../../app/assets/scss/_resources.scss */
.resources h1 {
  border-bottom: solid 3px #333333;
}
/* line 13, ../../app/assets/scss/_resources.scss */
.resources .container {
  margin-top: 60px;
}
/* line 16, ../../app/assets/scss/_resources.scss */
.resources .site {
  border-bottom: solid 1px #333333;
  border-bottom-style: dashed;
  padding-top: 20px;
  padding-bottom: 20px;
}
